 .u-section-1 {
  background-image: url("images/ghjklo.png");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 292px;
}

.u-section-1 .u-text-1 {
  font-family: SF-Pro-Text-Medium;
  text-transform: uppercase;
  font-size: 1.25rem;
  letter-spacing: 1.5px;
  line-height: 1.8;
  margin: 65px 770px 0 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  font-size: 1.125rem;
  font-family: SF-Pro-Display-Light;
  letter-spacing: 2px;
  margin: -91px 370px 0 auto;
  padding: 0;
}

.u-section-1 .u-btn-2 {
  background-image: none;
  font-size: 1.125rem;
  font-family: SF-Pro-Display-Light;
  letter-spacing: 2px;
  margin: 0 257px 60px auto;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 241px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 570px;
  }

  .u-section-1 .u-btn-1 {
    margin-right: 170px;
  }

  .u-section-1 .u-btn-2 {
    margin-right: 57px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 185px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 350px;
  }

  .u-section-1 .u-btn-1 {
    margin-right: 0;
  }

  .u-section-1 .u-btn-2 {
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 139px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1rem;
    margin-right: 170px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 88px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 0;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 337px;
}

.u-section-2 .u-text-1 {
  font-family: SF-Pro-Display-Light;
  letter-spacing: 0.5px;
  line-height: 1.8;
  margin: 79px 538px 0 0;
}

.u-section-2 .u-group-1 {
  width: 547px;
  min-height: 250px;
  height: auto;
  margin: -209px 0 49px auto;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-text-2 {
  letter-spacing: 0px;
  line-height: 1.3;
  text-transform: none;
  width: 385px;
  font-size: 1.875rem;
  font-family: SF-Pro-Display-Light;
  margin: 0 auto;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-1 {
    font-size: 1.125rem;
    margin-right: 338px;
  }

  .u-section-2 .u-group-1 {
    height: auto;
  }

  .u-section-2 .u-text-2 {
    font-style: normal;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-1 {
    margin-right: 118px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-1 {
    font-size: 1rem;
    margin-right: 0;
  }

  .u-section-2 .u-group-1 {
    width: 540px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-group-1 {
    width: 340px;
  }

  .u-section-2 .u-text-2 {
    font-size: 1.5rem;
    width: 320px;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 614px;
}

.u-section-3 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 50px;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 614px;
  background-image: none;
}

.u-section-3 .u-container-layout-1 {
  padding: 0;
}

.u-section-3 .u-text-1 {
  font-family: SF-Pro-Text-Medium;
  text-transform: uppercase;
  font-size: 1.25rem;
  letter-spacing: 1.5px;
  line-height: 1.8;
  margin: 31px -19px 0 62px;
}

.u-section-3 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-3 .u-line-1 {
  width: 304px;
  margin: 20px auto 0 62px;
}

.u-section-3 .u-text-2 {
  font-family: SF-Pro-Text-Medium;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1.5px;
  line-height: 1.8;
  margin: 26px -19px 0 62px;
}

.u-section-3 .u-btn-2 {
  background-image: none;
  padding: 0;
}

.u-section-3 .u-text-3 {
  font-family: SF-Pro-Text-Medium;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1.5px;
  line-height: 1.8;
  margin: 25px -18px 0 62px;
}

.u-section-3 .u-btn-3 {
  background-image: none;
  padding: 0;
}

.u-section-3 .u-text-4 {
  font-family: SF-Pro-Text-Medium;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1.5px;
  line-height: 1.8;
  margin: 27px -18px 0 61px;
}

.u-section-3 .u-btn-4 {
  background-image: none;
  padding: 0;
}

.u-section-3 .u-text-5 {
  font-family: SF-Pro-Text-Medium;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1.5px;
  line-height: 1.8;
  margin: 25px -19px 0 62px;
}

.u-section-3 .u-btn-5 {
  background-image: none;
  padding: 0;
}

.u-section-3 .u-gallery-1 {
  height: 175px;
  width: 456px;
  margin: 58px 28px 0 61px;
}

.u-section-3 .u-gallery-inner-1 {
  grid-template-columns: auto auto auto auto;
  grid-gap: 16px 16px;
}

.u-section-3 .u-gallery-item-1 {
  margin-right: 0;
  --effect-scale: 1.07;
}

.u-section-3 .u-back-image-1 {
  object-position: 50% 0%;
}

.u-section-3 .u-over-slide-1 {
  padding: 2px;
}

.u-section-3 .u-gallery-item-2 {
  margin-right: 0;
  --effect-scale: 1.07;
}

.u-section-3 .u-over-slide-2 {
  padding: 2px;
}

.u-section-3 .u-gallery-item-3 {
  margin-right: 0;
  --effect-scale: 1.07;
}

.u-section-3 .u-back-image-3 {
  object-position: 50% 0%;
}

.u-section-3 .u-over-slide-3 {
  padding: 2px;
}

.u-section-3 .u-gallery-item-4 {
  margin-right: 0;
  --effect-scale: 1.07;
}

.u-section-3 .u-back-image-4 {
  object-position: 50% 0%;
}

.u-section-3 .u-over-slide-4 {
  padding: 2px;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 614px;
  background-image: none;
}

.u-section-3 .u-container-layout-2 {
  padding: 22px 30px;
}

.u-section-3 .u-text-6 {
  font-family: SF-Pro-Text-Medium;
  text-transform: uppercase;
  font-size: 1.25rem;
  letter-spacing: 1.5px;
  line-height: 1.8;
  margin: 8px 208px 0 37px;
}

.u-section-3 .u-line-2 {
  width: 266px;
  position: absolute;
  top: 87px;
  left: 66px;
}

.u-section-3 .u-text-7 {
  font-family: SF-Pro-Text-Medium;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1.5px;
  line-height: 1.8;
  margin: 40px 87px 0 36px;
}

.u-section-3 .u-btn-6 {
  background-image: none;
  padding: 0;
}

.u-section-3 .u-text-8 {
  font-family: SF-Pro-Text-Medium;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1.5px;
  line-height: 1.8;
  margin: 33px 85px 0 37px;
}

.u-section-3 .u-btn-7 {
  background-image: none;
  padding: 0;
}

.u-section-3 .u-text-9 {
  font-family: SF-Pro-Text-Medium;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1.5px;
  line-height: 1.8;
  margin: 27px 87px 0 36px;
}

.u-section-3 .u-btn-8 {
  background-image: none;
  padding: 0;
}

.u-section-3 .u-gallery-2 {
  height: 173px;
  width: 414px;
  margin: 128px 36px 0;
}

.u-section-3 .u-gallery-inner-2 {
  grid-template-columns: auto auto auto;
  grid-gap: 16px 16px;
}

.u-section-3 .u-gallery-item-5 {
  margin-right: 0;
  --effect-scale: 1.07;
}

.u-section-3 .u-back-image-5 {
  object-position: 50% 0%;
}

.u-section-3 .u-over-slide-5 {
  padding: 2px;
}

.u-section-3 .u-gallery-item-6 {
  margin-right: 0;
  --effect-scale: 1.07;
}

.u-section-3 .u-over-slide-6 {
  padding: 2px;
}

.u-section-3 .u-gallery-item-7 {
  margin-right: 0;
  --effect-scale: 1.07;
}

.u-section-3 .u-back-image-7 {
  object-position: 50% 0%;
}

.u-section-3 .u-over-slide-7 {
  padding: 2px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1996px;
  }

  .u-section-3 .u-layout-cell-1 {
    transition-duration: 0.5s;
    --radius: 21px;
    min-height: 506px;
  }

  .u-section-3 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
    width: 304px;
  }

  .u-section-3 .u-line-1 {
    width: 282px;
    height: 0;
    margin-left: 0;
  }

  .u-section-3 .u-text-2 {
    width: 282px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-3 {
    width: 282px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-4 {
    width: 282px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-5 {
    width: 282px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-gallery-1 {
    height: 171px;
    width: 445px;
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-3 .u-gallery-inner-1 {
    grid-template-columns: repeat(4, auto);
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 506px;
  }

  .u-section-3 .u-text-6 {
    margin-left: 0;
    margin-right: 145px;
    width: 266px;
  }

  .u-section-3 .u-text-7 {
    margin-left: 49px;
    margin-right: 23px;
  }

  .u-section-3 .u-text-8 {
    margin-left: 49px;
    margin-right: 22px;
  }

  .u-section-3 .u-text-9 {
    margin-left: 49px;
    margin-right: 73px;
  }

  .u-section-3 .u-gallery-2 {
    height: 138px;
    width: 385px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-gallery-inner-2 {
    grid-template-columns: repeat(3, auto);
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1164px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-line-1 {
    width: 216px;
  }

  .u-section-3 .u-text-2 {
    width: 216px;
  }

  .u-section-3 .u-text-3 {
    width: 216px;
  }

  .u-section-3 .u-text-4 {
    width: 216px;
  }

  .u-section-3 .u-text-5 {
    width: 216px;
  }

  .u-section-3 .u-gallery-1 {
    height: 515px;
    width: 335px;
  }

  .u-section-3 .u-gallery-inner-1 {
    grid-template-columns: repeat(2, auto);
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-3 .u-text-6 {
    margin-right: 35px;
  }

  .u-section-3 .u-line-2 {
    width: 205px;
  }

  .u-section-3 .u-text-7 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-8 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-9 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-gallery-2 {
    height: 684px;
    width: 275px;
  }

  .u-section-3 .u-gallery-inner-2 {
    grid-template-columns: repeat(2, auto);
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1785px;
  }

  .u-section-3 .u-text-1 {
    font-size: 1rem;
  }

  .u-section-3 .u-gallery-1 {
    height: 2060px;
  }

  .u-section-3 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-text-6 {
    font-size: 1rem;
  }

  .u-section-3 .u-gallery-inner-2 {
    grid-template-columns: repeat(1, auto);
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1206px;
  }

  .u-section-3 .u-text-6 {
    margin-right: 0;
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 329px;
}

.u-section-4 .u-layout-wrap-1 {
  margin-top: 1px;
  margin-bottom: 0;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 378px;
}

.u-section-4 .u-container-layout-1 {
  padding: 42px 0 30px;
}

.u-section-4 .u-text-1 {
  font-family: SF-Pro-Text-Medium;
  text-transform: uppercase;
  font-size: 1.25rem;
  letter-spacing: 1.5px;
  line-height: 1.8;
  margin: 21px 65px 0 50px;
}

.u-section-4 .u-line-1 {
  width: 285px;
  position: absolute;
  top: 121px;
  left: 50px;
  transform-origin: left center 0px;
}

.u-section-4 .u-gallery-1 {
  height: 146px;
  width: 146px;
  margin: 42px auto 0 50px;
}

.u-section-4 .u-gallery-inner-1 {
  grid-template-columns: auto;
  grid-gap: 16px 16px;
}

.u-section-4 .u-gallery-item-1 {
  margin-right: 0;
  --effect-scale: 1.07;
}

.u-section-4 .u-back-image-1 {
  object-position: 50% 0%;
}

.u-section-4 .u-over-slide-1 {
  padding: 2px;
}

.u-section-4 .u-text-2 {
  font-family: SF-Pro-Text-Medium;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1.5px;
  line-height: 1.8;
  margin: -139px 0 0 47px;
}

.u-section-4 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 378px;
  background-image: none;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px 0;
}

.u-section-4 .u-text-3 {
  font-family: SF-Pro-Text-Medium;
  text-transform: uppercase;
  font-size: 1.25rem;
  letter-spacing: 1.5px;
  line-height: 1.8;
  margin: 33px 230px 0 60px;
}

.u-section-4 .u-line-2 {
  width: 266px;
  position: absolute;
  top: 121px;
  left: 60px;
}

.u-section-4 .u-text-4 {
  font-family: SF-Pro-Text-Medium;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1.5px;
  line-height: 1.8;
  margin: 49px 103px 0 60px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 179px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 312px;
  }

  .u-section-4 .u-text-1 {
    margin-right: 15px;
    margin-left: 0;
  }

  .u-section-4 .u-gallery-1 {
    margin-left: 0;
  }

  .u-section-4 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }

  .u-section-4 .u-text-2 {
    margin-left: 0;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 312px;
  }

  .u-section-4 .u-text-3 {
    margin-right: 180px;
    margin-left: 10px;
  }

  .u-section-4 .u-text-4 {
    margin-right: 53px;
    margin-left: 10px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-top: 30px;
  }

  .u-section-4 .u-text-1 {
    margin-right: 0;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-4 .u-text-3 {
    margin-right: 80px;
    margin-left: 0;
  }

  .u-section-4 .u-text-4 {
    margin-right: 0;
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 279px;
  }

  .u-section-4 .u-text-1 {
    font-size: 1rem;
  }

  .u-section-4 .u-text-3 {
    font-size: 1rem;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-text-3 {
    margin-right: 0;
  }
} .u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 727px;
}

.u-section-5 .u-layout-wrap-1 {
  margin-top: 51px;
  margin-bottom: 0;
}

.u-section-5 .u-layout-cell-1 {
  min-height: 383px;
  background-image: none;
}

.u-section-5 .u-container-layout-1 {
  padding: 26px 30px 0;
}

.u-section-5 .u-line-1 {
  width: 229px;
  position: absolute;
  top: 119px;
  left: 62px;
  transform-origin: left center 0px;
}

.u-section-5 .u-gallery-1 {
  height: 214px;
  width: 589px;
  margin: 58px 0 0 auto;
}

.u-section-5 .u-gallery-inner-1 {
  grid-template-columns: auto auto auto;
  grid-gap: 16px 16px;
}

.u-section-5 .u-gallery-item-1 {
  margin-right: 0;
  --effect-scale: 1.07;
}

.u-section-5 .u-back-image-1 {
  object-position: 50% 0%;
}

.u-section-5 .u-over-slide-1 {
  padding: 2px;
}

.u-section-5 .u-gallery-item-2 {
  margin-right: 0;
}

.u-section-5 .u-back-image-2 {
  object-position: 50% 0%;
}

.u-section-5 .u-over-slide-2 {
  padding: 2px;
}

.u-section-5 .u-gallery-item-3 {
  margin-right: 0;
}

.u-section-5 .u-back-image-3 {
  object-position: 50% 0%;
}

.u-section-5 .u-over-slide-3 {
  padding: 2px;
}

.u-section-5 .u-text-1 {
  font-family: SF-Pro-Text-Medium;
  text-transform: uppercase;
  font-size: 1.25rem;
  letter-spacing: 1.5px;
  line-height: 1.8;
  margin: -270px 508px 0 32px;
}

.u-section-5 .u-text-2 {
  font-family: SF-Pro-Text-Medium;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1.5px;
  line-height: 1;
  margin: 51px 782px 0 32px;
}

.u-section-5 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-5 .u-text-3 {
  font-family: SF-Pro-Text-Medium;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1.5px;
  line-height: 1;
  margin: -42px 589px 0 298px;
}

.u-section-5 .u-btn-2 {
  background-image: none;
  padding: 0;
}

.u-section-5 .u-text-4 {
  font-family: SF-Pro-Text-Medium;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1.5px;
  line-height: 1.8;
  margin: 32px 682px 0 32px;
}

.u-section-5 .u-btn-3 {
  background-image: none;
  padding: 0;
}

.u-section-5 .u-layout-wrap-2 {
  margin-top: 51px;
  margin-bottom: 51px;
}

.u-section-5 .u-layout-cell-2 {
  min-height: 217px;
  background-image: none;
}

.u-section-5 .u-container-layout-2 {
  padding: 0;
}

.u-section-5 .u-text-5 {
  font-family: SF-Pro-Text-Medium;
  text-transform: uppercase;
  font-size: 1.25rem;
  letter-spacing: 1.5px;
  line-height: 1.8;
  margin: 41px 30px 0;
}

.u-section-5 .u-text-6 {
  font-family: SF-Pro-Text-Medium;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1.5px;
  line-height: 1.8;
  margin: 44px 0 0 30px;
}

.u-section-5 .u-line-2 {
  width: 491px;
  position: absolute;
  top: 87px;
  left: 30px;
  transform-origin: left center 0px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 816px;
  }

  .u-section-5 .u-layout-wrap-1 {
    position: relative;
    margin-top: 290px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 475px;
  }

  .u-section-5 .u-gallery-1 {
    width: 410px;
    margin-top: 700px;
  }

  .u-section-5 .u-gallery-inner-1 {
    grid-template-columns: repeat(3, auto);
  }

  .u-section-5 .u-text-1 {
    margin-top: -1091px;
    margin-right: 425px;
    margin-left: 0;
  }

  .u-section-5 .u-text-2 {
    margin-top: 101px;
    margin-right: 871px;
    margin-left: 0;
  }

  .u-section-5 .u-text-3 {
    width: 340px;
    margin-top: -714px;
    margin-right: 691px;
    margin-left: 180px;
  }

  .u-section-5 .u-text-4 {
    margin-top: -4px;
    margin-right: 289px;
    margin-left: 376px;
  }

  .u-section-5 .u-layout-wrap-2 {
    margin-top: -991px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 179px;
  }

  .u-section-5 .u-text-5 {
    margin-left: 2px;
    margin-right: 2px;
  }

  .u-section-5 .u-text-6 {
    margin-left: 2px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 361px;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-top: 261px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-5 .u-gallery-1 {
    width: 300px;
    height: 643px;
    margin-top: 800px;
  }

  .u-section-5 .u-gallery-inner-1 {
    grid-template-columns: repeat(2, auto);
  }

  .u-section-5 .u-text-1 {
    margin-top: -1979px;
    margin-right: 315px;
  }

  .u-section-5 .u-text-2 {
    margin-top: 201px;
    margin-right: 761px;
  }

  .u-section-5 .u-text-3 {
    margin-right: 636px;
    margin-left: 125px;
  }

  .u-section-5 .u-text-4 {
    margin-top: -104px;
    margin-right: 234px;
    margin-left: 321px;
  }

  .u-section-5 .u-layout-wrap-2 {
    margin-top: -1240px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-5 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-text-6 {
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-layout-wrap-1 {
    margin-top: 278px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-gallery-1 {
    height: 1703px;
    margin-top: 2225px;
  }

  .u-section-5 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }

  .u-section-5 .u-text-1 {
    font-size: 1rem;
    margin-top: -3404px;
  }

  .u-section-5 .u-text-2 {
    margin-top: 1584px;
  }

  .u-section-5 .u-text-3 {
    margin-top: -747px;
  }

  .u-section-5 .u-text-4 {
    margin-top: -1487px;
  }

  .u-section-5 .u-layout-wrap-2 {
    margin-top: -3388px;
  }

  .u-section-5 .u-text-5 {
    font-size: 1rem;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-layout-wrap-1 {
    margin-top: 306px;
  }

  .u-section-5 .u-gallery-1 {
    height: 1048px;
  }

  .u-section-5 .u-text-1 {
    margin-top: -3177px;
    margin-right: 115px;
  }

  .u-section-5 .u-text-2 {
    margin-right: 561px;
  }

  .u-section-5 .u-text-3 {
    width: 320px;
    margin-right: 536px;
    margin-left: 25px;
  }

  .u-section-5 .u-text-4 {
    margin-right: 134px;
    margin-left: 221px;
  }

  .u-section-5 .u-layout-wrap-2 {
    margin-top: -3416px;
  }

  .u-section-5 .u-line-2 {
    width: 340px;
  }
} .u-section-6 {
  background-image: none;
}

.u-section-6 .u-sheet-1 {
  min-height: 531px;
}

.u-section-6 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 43px;
}

.u-section-6 .u-layout-cell-1 {
  min-height: 538px;
}

.u-section-6 .u-container-layout-1 {
  padding: 30px 60px;
}

.u-section-6 .u-line-1 {
  width: 266px;
  position: absolute;
  top: 161px;
  left: 60px;
}

.u-section-6 .u-text-1 {
  font-family: SF-Pro-Text-Medium;
  text-transform: uppercase;
  font-size: 1.25rem;
  letter-spacing: 1.5px;
  line-height: 1.8;
  margin: 0 24px 0 0;
}

.u-section-6 .u-text-2 {
  font-family: SF-Pro-Text-Medium;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1.5px;
  line-height: 1.8;
  margin: 50px 24px 0 0;
}

.u-section-6 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-6 .u-text-3 {
  font-family: SF-Pro-Text-Medium;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1.5px;
  line-height: 1.8;
  margin: 25px 24px 0 0;
}

.u-section-6 .u-btn-2 {
  background-image: none;
  padding: 0;
}

.u-section-6 .u-text-4 {
  font-family: SF-Pro-Text-Medium;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1.5px;
  line-height: 1.8;
  margin: 26px 24px 0 0;
}

.u-section-6 .u-btn-3 {
  background-image: none;
  padding: 0;
}

.u-section-6 .u-text-5 {
  font-family: SF-Pro-Text-Medium;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1.5px;
  line-height: 1.8;
  margin: 26px 25px 0 0;
}

.u-section-6 .u-btn-4 {
  background-image: none;
  padding: 0;
}

.u-section-6 .u-layout-cell-2 {
  min-height: 538px;
  background-image: none;
}

.u-section-6 .u-container-layout-2 {
  padding: 31px 30px 14px;
}

.u-section-6 .u-line-2 {
  width: 266px;
  position: absolute;
  top: 93px;
  left: 30px;
}

.u-section-6 .u-text-6 {
  font-family: SF-Pro-Text-Medium;
  text-transform: uppercase;
  font-size: 1.25rem;
  letter-spacing: 1.5px;
  line-height: 1.8;
  margin: 0 177px 0 0;
}

.u-section-6 .u-text-7 {
  font-family: SF-Pro-Text-Medium;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1.5px;
  line-height: 1.8;
  margin: 71px 0 0;
}

.u-section-6 .u-text-8 {
  font-family: SF-Pro-Text-Medium;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1.5px;
  line-height: 1.8;
  margin: 27px 0 0;
}

.u-section-6 .u-text-9 {
  font-family: SF-Pro-Text-Medium;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1.5px;
  line-height: 1.8;
  margin: 27px 0 0;
}

.u-section-6 .u-text-10 {
  font-family: SF-Pro-Text-Medium;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1.5px;
  line-height: 1.8;
  margin: 27px 0 0;
}

.u-section-6 .u-text-11 {
  font-family: SF-Pro-Text-Medium;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1.5px;
  line-height: 1.8;
  margin: 27px 0 0;
}

.u-section-6 .u-text-12 {
  font-family: SF-Pro-Text-Medium;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1.5px;
  line-height: 1.8;
  margin: 27px 0 0;
}

@media (max-width: 1199px) {
   .u-section-6 {
    min-height: 318px;
  }

  .u-section-6 .u-sheet-1 {
    min-height: 438px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 444px;
  }

  .u-section-6 .u-text-1 {
    margin-right: 0;
  }

  .u-section-6 .u-text-2 {
    margin-right: 0;
  }

  .u-section-6 .u-text-3 {
    margin-right: 0;
  }

  .u-section-6 .u-text-4 {
    margin-right: 0;
  }

  .u-section-6 .u-text-5 {
    margin-right: 0;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 444px;
  }

  .u-section-6 .u-text-6 {
    margin-right: 77px;
  }
}

@media (max-width: 991px) {
   .u-section-6 {
    min-height: 66px;
  }

  .u-section-6 .u-sheet-1 {
    min-height: 414px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-top: 30px;
  }

  .u-section-6 .u-text-6 {
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1242px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 50px;
    padding-right: 50px;
  }

  .u-section-6 .u-text-1 {
    font-size: 1rem;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-text-6 {
    font-size: 1rem;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 782px;
  }
} .u-section-7 {
  background-image: none;
}

.u-section-7 .u-sheet-1 {
  min-height: 226px;
}

.u-section-7 .u-group-1 {
  min-height: 167px;
  margin-top: 0;
  margin-bottom: 59px;
  height: auto;
}

.u-section-7 .u-container-layout-1 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-7 .u-text-1 {
  font-family: SF-Pro-Text-Medium;
  text-transform: uppercase;
  font-size: 1.25rem;
  letter-spacing: 1.5px;
  line-height: 1.8;
  margin: 32px 757px 0 30px;
}

.u-section-7 .u-line-1 {
  width: 266px;
  position: absolute;
  top: 90px;
  left: 60px;
}

.u-section-7 .u-text-2 {
  font-family: SF-Pro-Text-Medium;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1.5px;
  line-height: 1.8;
  margin: 45px 540px 0 30px;
}

.u-section-7 .u-btn-1 {
  background-image: none;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-7 .u-group-1 {
    height: auto;
  }

  .u-section-7 .u-text-1 {
    margin-right: 587px;
    margin-left: 0;
  }

  .u-section-7 .u-text-2 {
    margin-right: 370px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-text-1 {
    margin-right: 367px;
  }

  .u-section-7 .u-text-2 {
    margin-right: 150px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-text-1 {
    font-size: 1rem;
    margin-right: 227px;
  }

  .u-section-7 .u-text-2 {
    margin-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-text-1 {
    margin-right: 27px;
  }

  .u-section-7 .u-text-2 {
    margin-right: 0;
  }
}.u-section-8 .u-sheet-1 {
  min-height: 487px;
}

.u-section-8 .u-text-1 {
  font-family: SF-Pro-Text-Medium;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1.5px;
  line-height: 1.8;
  width: 510px;
  margin: 50px auto 0;
}

.u-section-8 .u-btn-1 {
  background-image: none;
  font-size: 1.125rem;
  padding: 0;
}

.u-section-8 .u-btn-2 {
  background-image: none;
  font-size: 1.125rem;
  padding: 0;
}

.u-section-8 .u-social-icons-1 {
  height: 41px;
  min-height: 16px;
  width: 179px;
  min-width: 104px;
  margin: 51px auto 0;
}

.u-section-8 .u-icon-1 {
  height: 100%;
}

.u-section-8 .u-icon-2 {
  height: 100%;
}

.u-section-8 .u-icon-3 {
  height: 100%;
}

.u-section-8 .u-image-1 {
  width: 396px;
  height: 54px;
  margin: 51px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-8 .u-social-icons-1 {
    width: 144px;
    min-width: 68px;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-sheet-1 {
    min-height: 479px;
  }

  .u-section-8 .u-text-1 {
    width: 340px;
  }

  .u-section-8 .u-image-1 {
    width: 340px;
    height: 46px;
  }
}@font-face {
  font-family: 'SF-Pro-Text-Medium';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/SF-Pro-Text-Medium.otf);
}@font-face {
  font-family: 'SF-Pro-Display-Light';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/SF-Pro-Display-Light.otf);
}